
.container {
    max-width: 960px;
    margin: 0 auto;
    background: #d9dcd6;
    font-size: 24px;
    padding: 25px;
}

.parallax {
    min-height: 500px;
    background: transparent;
}

/* HERO div with background img */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
